.example-appear {
    opacity: 0.04;
 }

.example-appear.example-appear-active {
    opacity: 2;
    transition: opacity 5s ease-in;
}

body {
    background-color: #141d26;
}

#myChart{
    position: relative;
    top: 80%;
    width: 100px;
    height: 100px;
}